<%-include("header")%>
    <form action="/" method="post">
        <label for="cityName">City Name:</label>
        <input type="text" id="cityName" name="city">
        <button type="submit">submit</button>
    </form>  
<%-include("footer")%>